[Unit]
Description=Remote clojure REPL

[Service]
ExecStart=/home/vagrant/bin/lein trampoline repl :headless :host 0.0.0.0 :port 7888
User=vagrant
WorkingDirectory=/vagrant

[Install]
WantedBy=multi-user.target
